strong.group-name = "{{ group.name }}"
ul.todo-list
  li.todo-item(ng-repeat="todo in group.todos"
               ng-include="'todos/_todo.html'"
               ng-class="{ done: todo.when == 'Done' }")
